# Service: moontracer
# Discord variables
API_SECRET_KEY=""
DISCORD_BOT_TOKEN=""
DISCORD_PUBLIC_KEY=""

# Debug variables
# If true, set the guild ID on which to test. Else, it will register all commands globally in Safe Mode.
VERBOSE=true
SAFE_MODE=true
DISCORD_GUILD_ID=""
DEBUG_ADMIN_ID=""

# Config
# Paths and global variables
ADMIN_ROLE_NAME=""
MOD_ROLE_NAME=""
